/* main/static/css/styles.css */

/* Estilos generales */
body {
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #f8f9fa;
    /* Mantener el color de fondo del navbar */
}

/* Estilos específicos para contenedores */
.main-content {
    background-color: #09035f;
    /* Fondo azul oscuro */
    min-height: 100vh;
    padding-top: 80px;
    /* Espacio para evitar que el contenido esté oculto detrás del navbar */
    color: white;
    text-align: center;
}

.login-form {
    max-width: 400px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

.card {
    border-radius: 10px;
}

/* Estilos específicos para index.html */
.index-body {
    background-color: #09035f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.index-body .container {
    color: white;
    /* Color del texto blanco */
}

/* Estilos específicos para login.html */
.login-body {
    background-color: #09035f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo general del body */
body.main-body {
    margin: 0;
}

/* Fondo azul oscuro específico para el contenido principal */
/* Estilo para la sección principal con fondo azul */
.bg-blue {
    background-color: #09035f;
    min-height: 100vh;
    padding-top: 80px;
    color: white;
    /* Este color aplica al texto general */
    text-align: center;
}

/* Aplica color blanco solo a los encabezados en .main-content */
.main-content h1,
.main-content h3 {
    color: white;
}