/* main/static/css/styles.css */

/* Estilos generales */
body {
    background-color: #f8f9fa;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    text-align: center;
    color: black;
    margin-top: 100px;
    /* Espacio para evitar que el contenido esté oculto detrás del navbar */
}

.login-form {
    max-width: 400px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

.card {
    border-radius: 10px;
}

/* Estilos específicos para index.html */
.index-body {
    background-color: #09035f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.index-body .container {
    color: white;
    /* Color del texto blanco */
}

/* Estilos específicos para login.html */
.login-body {
    background-color: #09035f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}